*,*::before,*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: "Oswald", sans-serif;
}


/* Navigation CSS Start */
nav .navbar-nav a, nav .info a {
    color: #063231;
    transition: 0.4s;
}
nav .navbar-nav a:hover, nav .info a:hover {
    color: #f75709;
}
nav .button {
    background-color: #c3df94;
    color: #063231;
    transition: 0.4s;
}
nav .button:hover {
    background-color: #f75709;
    color: #fff;
}
nav .info {
    max-width: 313px;
}
nav .info a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    nav .navbar-nav a {
        border-bottom: 1px solid #063231;
    }
}
/* Navigation CSS End */


/* Footer CSS Start */
footer {
    padding: 100px 0 50px;
    background-color: #063231;
}
footer p, footer h4, footer a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    transition: 0.4s;
}
footer .tags a:hover, footer .orange {
    color: #f75709 !important;
}
footer ul li a {
    background-color: #1f4746;
    width: 42px;
    height: 42px;
    transition: 0.4s;
}
footer ul li a:hover {
    background-color: #f75709;
}
footer .tags {
    border-bottom: 1px solid #ffffff20;
    border-top: 1px solid #ffffff20;
}
@media screen and (max-width: 768px) {
    footer {
        padding: 60px 0 50px;
    }
}
/* Footer CSS End */