/* Header CSS Start */
header {
    padding: 140px 0;
    background-color: #063231;
}
header h1 {
    font-size: 72px;
}
header a, header p {
    transition: 0.4s;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
}
header a:hover {
    color: #f75709 !important;
}
header p {
    color: #c3df94;
}
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 48px;
    }
    header a, header p {
        font-size: 16px;
    }
}
@media screen and (max-width: 576px) {
    header h1 {
        font-size: 38px;
    }
    header a, header p {
        font-size: 14px;
    }
}
/* Header CSS End */


/* Team CSS Start */
.team {
    padding: 100px 0;
}
.team .item .wrapper {
    position: relative;
}
.team .item .wrapper:hover ul {
    opacity: 1;
    transform: translateY(-28px);
}
.team .item .wrapper ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
}
.team .item .wrapper ul li a {
    transition: 0.4s;
}
.team .item .wrapper ul li a:hover {
    color: #fff !important;
    background-color: #f75709 !important;
}
.team .item .texts a {
    transition: 0.4s;
}
.team .item .texts a:hover {
    color: #f75709 !important;
}
.team .item .texts p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 19px;
}
@media screen and (max-width: 768px) {
    .team {
        padding: 60px 0;
    }
    .team .item p {
        font-size: 17px;
    }
}
@media screen and (max-width: 576px) {
    .team {
        padding: 38px 0;
    }
    .team .item p {
        font-size: 14px;
    }
}
/* Team CSS End */